extends layout

block content
  script(type='text/javascript', src='/js/relative-date.js')
  .breadcrumb
    each first, c, p in filepaths
      if not first
        span /
      a(href=base_url+p)= c

  if tree.type == 2
    table.table-striped
      thead
        tr
         th name
         th age
         th message
      tbody
        each name, v in last_change.iteritems()
          tr
            td
              a(href=base_url+filepath+'/'+name)= name
            td
              time(datetime=v[0]+v[1], title=v[0])= v[0]
            td
              a(href='/view/'+repo+'/tree/commit/'+v[2].hex+filepath+'/'+name)= v[2].message
              a(href='mailto:'+v[2].author.email)= '['+v[2].author.name+']'
  else
    .blob_data
      pre.prettyprint.linenums= tree.data


